[submodule ".registry"]
	path = .registry
	url = https://github.com/neilstats/neilstats.r-universe.dev
	branch = HEAD
[submodule "ckbplotr"]
	path = ckbplotr
	url = https://github.com/neilstats/ckbplotr
